body {
	background: #111;
	color: #eee;
	font-family: 'Ubuntu', sans-serif;
}

a, a:hover {
	color: #aaa;

}

hr {
	border-top: 1px solid gray;
}

h1 {
	text-align: center;
}

h2 {
	margin-top: 0px;
}

.project-description {
	font-size: 16px;
}

.technologies-show {
	cursor: pointer;
}

.technologies-used {
	display: none;
}

.center {
	text-align: center;
}

.w100 {
	width: 100%;
}

.w50 {
	width: 50%;
}

.br {
	border-radius: 10px;
}